@use "../../app/import.scss" as *;

.timeBar {
  border-radius: rem(12);
  height: rem(36);
  @include flex($direction: column, $align-item: center);

  &__body {
    @extend %d-block;
    height: rem(16);
    width: 100%;
    background-color: var(--clr-light-blue-gray);
    border-radius: rem(12);
    @extend %p-relative;
    // border: 2px solid red;

    &::hover {
      cursor: pointer;
    }
  }
  &__futureBar {
    @extend %p-absolute;
    height: 100%;
    border-top-right-radius: rem(8);
    border-bottom-right-radius: rem(8);
    background-color: var(--clr-pale-powder-blue);
    width: var(--future-width);
    right: 0;
    top: 0;
  }
  &__futureBar::before {
    content: "";
    @extend %p-absolute;
    left: 0;
    top: rem(-6);
    width: rem(2);
    background-color: var(--clr-pale-powder-blue);
    height: rem(28);
  }
  // &__timeSpans {
  //   position: relative;
  // }
  &__timeSpan {
    @extend %p-absolute;
    width: calc(var(--end-time) - var(--time-start));
    left: var(--time-start);
    height: 100%;
    background-color: var(--color-time-span);
    border-radius: rem(12);
    &:hover {
      cursor: pointer;
      &__info {
        opacity: 1;
        visibility: visible;
        z-index: 1;
      }
    }
  }
  &__info {
    @extend %p-absolute;
    top: calc(100% + rem(10));
    left: 0;
    border-radius: rem(5);
    background: var(--clr-dark-gray);
    color: var(--clr-white);
    padding: rem(10) rem(20);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    &::before {
      content: "";
      width: rem(20);
      height: rem(11);
      @extend %p-absolute;
      background: var(--clr-dark-gray);
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%); // inset: 0 100% 0 auto;
      margin: auto;
      top: calc(0% + rem(-11));
      overflow: visible;
    }
  }
}
