$family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;

$sizes: 10, 12, 13, 14, 16, 18, 20;

$colors: (
  clr-white: #ffffff,
  clr-black: #000000,
  clr-pastel-blue-gray: #dbdde3,
  clr-cerulean-blue: #1d6292,
  clr-cornflower-blue: #66b1ff,
  clr-baby-powder: #ecf5ff,
  clr-cloudy: #f3f6f9,
  clr-gunmeta-blue: #3e4956,
  blue-gray-color: #f2f5f8,
  gray-shade-color: #ddd,
  bright-blue-color: #2aa7ff
);
