$family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$sizes: 10, 12, 13, 14, 16, 18, 20;

$colors: (
  clr-white: #ffffff,
  clr-black: #000000,
  clr-gunmeta-blue: #3e4956,
  clr-gray-blue: #f2f5f8,
  clr-pale-blue: #dbdde3,
  clr-bright-blue: #2aa7ff,
  clr-light-Gray: #ddd,
  clr-dark-gray: #17171777,
  clr-Gainsboro: #eee
);
