$family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$sizes: 10, 12, 13, 14, 16, 18, 20, 23;

$colors: (
  clr-white: #ffffff,
  clr-black: #000000,
  clr-gunMeta-blue: #3e4956,
  clr-gray-blue: #f2f5f8,
  clr-pale-blue: #dbdde3,
  clr-bright-blue: #2aa7ff,
  clr-light-Gray: #ddd,
  clr-dark-gray: #17171777,
  clr-Gainsboro: #eee,
  clr-light-blue-grey: #e4e9ef,
  clr-charcoal-gray: #333333,
  clr-light-blue-gray: #dfe6f1,
  clr-pale-powder-blue: #afbbca,
  clr-maroon: #7b0e09,
  clr-dark-teal:#364458
);
