@use "../../app/import.scss" as *;

.main {
  --sidebar: #{rem(240)};
  min-height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: var(--sidebar) 1fr;
  grid-template-rows: 46px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
  transition: all 0.2s;

  &--minimized {
    --sidebar: #{rem(80)};
  }
}
