@use "../../app/import.scss" as *;

.topBar {
  @include flex($align-item: center, $justify-content: space-between);
  padding: 0 rem(40);
  border-bottom: rem(1) solid var(--clr-light-Gray);
  &__download {
    max-width: rem(144);
    height: rem(32);
    border-radius: rem(20);
    border: rem(1) solid var(--clr-light-blue-grey);
    padding: rem(8) rem(38);
    font-size: rem(14);
  }
  &__btn {
    text-decoration: none;
    color: var(--clr-bright-blue);
  }
  &__profile {
    @include flex(center, space-between, $gap: rem(10));

    img {
      border-radius: rem(50);
      height: rem(28);
      @include flex(center, space-between);
    }
  }
}
