@use "../../app/import.scss" as *;

.topBar {
  @include flex($align-item: center, $justify-content: space-between);
  padding: 0 rem(40);
  border-bottom: 1px solid #ddd;
  &__download {
    max-width: rem(144);
    height: rem(32);
    border-radius: 20px;
    border: 1px solid #e4e9ef;
    padding: 8px 38px;
    font-size: rem(14);
  }
  &__btn {
    text-decoration: none;
    color: #2aa7ff;
  }
  &__profile {
    // margin-right: rem(15);
    @include flex($align-item: center, $justify-content: space-between, $gap: rem(10));

    img {
      border-radius: rem(50);
      height: rem(28);
      @include flex($align-item: center, $justify-content: space-between);
    }
  }
}
