@use "../../app/import.scss" as *;

.sidebar {
  $parent: &;
  display: grid;
  @extend %p-relative;
  grid-area: sidebar / 1 / span 2;
  background: var(--clr-gray-blue);
  border-right: rem(1) solid var(--clr-light-Gray);
  @extend %fw-400;

  &__logoLink {
    @include flex($align-item: center, $gap: rem(5));
    padding: 0 0 rem(3) rem(22);
    margin-top: rem(15);
    margin-bottom: rem(10);
    @extend %fw-700;
    color: var(--clr-gunMeta-blue);
    letter-spacing: rem(1);
  }

  &__logo-text {
    font-size: var(--fs-23);
    @extend %transition;
  }

  &__toggler {
    @extend %p-absolute;

    top: rem(10);
    right: rem(-12);
    width: rem(24);
    height: rem(24);
    @include flex(center, center);
    background-color: var(--clr-white);
    border: rem(1) solid var(--clr-light-Gray);
    border-radius: 50%;
    @extend %pointer;
    @extend %transition;

    &--open {
      transform: rotate(-180deg);
      @extend %transition;
    }
  }
  &__items {
    color: var (--clr-gunMeta-blue) !important;
    @include flex(null, column, $direction: column);
    font-size: var(--fs-14);
    @extend %p-relative;
    max-width: 100%;
    padding: 0 rem(18) 0 rem(26);
  }
  &__item {
    @include flex(center, $gap: rem(8));
    height: rem(46);
  }

  &__btn {
    @include flex(center, $gap: rem(8));
    @extend %p-relative;
    height: rem(24);
    width: 87%;
    border: none;
    color: lighten(map-get($colors, clr-gunMeta-blue), 0);
    background-color: transparent;
    text-decoration: none;
    @extend %p-relative;
    margin: rem(2) 0 rem(0) rem(2);
    &:focus {
      color: var(--clr-bright-blue);
      @extend %fw-500;
    }

    &:hover {
      color: var(--clr-bright-blue);
      @extend %pointer;
    }

    svg {
      min-width: rem(14);
      @include square(20);
    }
    &[aria-current="page"] {
      color: var(--clr-bright-blue);
      @extend %fw-500;
      &::before {
        content: "";
        @extend %p-absolute;
        left: rem(-28);
        height: rem(24);
        width: rem(3);
        background-color: var(--clr-bright-blue);
      }
    }
  }
  &__arrow {
    background-color: transparent;
    margin: rem(5) 0 0 rem(5);
    border: none;
    @extend %pointer;
    &::before {
      content: "";
      @extend %d-block;
      @include square(15);
      margin-inline-start: auto;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.75 19.5L8.25 12l7.5-7.5' /%3E%3C/svg%3E");
      transform: rotate(0deg);
      @extend %transition;
    }
    &.active {
      &::before {
        transform: rotate(-90deg);
      }
      @extend %transition;
    }
  }

  &__list {
    @extend %overflow-hidden;

    transition: max-height 0.3s ease-out;

    &:not(&--open) {
      max-height: 0 !important;
    }
    &--open {
      max-height: var(--menu-height);
    }
  }

  &__subItem {
    width: 87%;
    color: map-get($colors, clr-gunMeta-blue);
    @include flex(center);
    text-decoration: none;
    font-size: var(--fs-12);
    height: rem(24);
    margin: 0 0 rem(11) rem(19);
    padding: 0 rem(12);
    transition: height 2s ease-out;
    &:hover {
      color: var(--clr-bright-blue);
    }

    &[aria-current="page"] {
      color: var(--clr-bright-blue);
      background-color: var(--clr-pale-blue);
      border-radius: rem(20);
      @extend %fw-500;
      padding: 0 rem(12);
      transition: all 0.3s ease-in-out; // Add a transition property
    }
  }
  &--minimized {
    #{$parent}__logo-text {
      font-size: 0;
    }
    #{$parent}__nav {
      width: 100vw;
    }
    #{$parent}__link {
      @extend %p-absolute;
      left: calc(100% + rem(40));
      border-radius: rem(5);
      background: var(--clr-dark-gray);
      color: var(--clr-white);
      padding: rem(3) rem(6);
      opacity: 0;
      @extend %overflow-hidden;
      transform: translateX(rem(-10));
      z-index: 1;

      &::after {
        content: "";
        width: rem(7);
        height: rem(11);
        @extend %p-absolute;
        background: var(--clr-dark-gray);
        clip-path: polygon(100% 0, 0 50%, 100% 100%);
        inset: 0 100% 0 auto;
        margin: auto;
      }
    }
    #{$parent}__items {
      width: var(--sidebar);
      @extend %p-relative;

      &:hover {
        #{$parent}__link {
          opacity: 1;
          @extend %overflow-visible;
          transform: translateX(0);
        }
      }
      #{$parent}__list {
        @extend %p-absolute;
        top: 0;
        left: calc(100% + rem(20));
        padding: rem(10);
        width: rem(160);
        background: var(--clr-white);
        box-shadow: rem(0) rem(0) rem(6) rgba(0, 0, 0, 0.16);
        border-radius: rem(5);
        opacity: 0;
        @extend %overflow-hidden;
        translate: rem(-20);
        @extend %transition;
        @extend %overflow-visible;
        max-height: var(--menu-height);

        &::after {
          @extend %d-block;
          content: "";
          width: rem(9);
          height: rem(11);
          @extend %p-absolute;
          background: var(--clr-dark-gray);
          clip-path: polygon(100% 0, 0 50%, 100% 100%);
          top: rem(15);
          left: rem(-9);
          margin: auto;
        }
        &--open {
          opacity: 1;
          @extend %overflow-visible;

          translate: 0;
        }
      }
      #{$parent}__subItem {
        @extend %fw-500;
        padding: 0 rem(16) !important;
        margin: 0 !important;
        &[aria-current="page"] {
          color: var(--clr-bright-blue);
          background-color: var(--clr-Gainsboro) !important;
          padding: 0 rem(16);
          border-radius: rem(20);
          @extend %fw-500;
          transition: all 0.3s ease-in-out; // Add a transition property
        }
      }
    }

    #{$parent}__arrow {
      @extend %d-none;
    }
  }
  &--menu-open {
    #{$parent}__link {
      @extend %transition;
    }
  }
}
