@use "../../app/import.scss" as *;

.sidebar {
  display: grid;
  grid-area: sidebar / 1 / span 2;
  background: map-get($colors, clr-gray-blue);
  border-right: rem(1) solid #ddd;
  // border-right: rem(1) solid map-get($colors, gray-shade-color);
  @extend %fw-400;

  &__logoLink {
    display: block;
    margin-top: 15px;
    padding: 0 25px 0 25px;
    margin-bottom: rem(20);
  }

  &__items {
    color: map-get($colors, clr-gunmeta-blue) !important;
    @include flex(null, column, rem(10), $direction: column);
    padding: 8px 25px;
    font-size: var(--fs-14);
    @extend %p-relative;
    font-family: var(--family);
  }
  &__item {
    @include flex($gap: rem(20));
    padding: rem(11);
  }

  &__btn {
    @include flex(center, $gap: rem(11));
    height: rem(24);
    width: 100%;
    white-space: nowrap;
    border: none;
    color: lighten(map-get($colors, clr-gunmeta-blue), 0);
    background-color: transparent;
    text-decoration: none;
    @extend %p-relative;

    &:focus {
      color: var(--clr-bright-blue);
      @extend %fw-500;
    }

    &:hover {
      color: var(--clr-bright-blue);
      cursor: pointer;
    }

    svg {
      min-width: rem(18);
      @include square(30);
    }
    &[aria-current="page"] {
      color: var(--clr-bright-blue);
      background-color: transparent;
      @extend %fw-500;
    }
  }
  &__arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      @include square(24);
      margin-inline-start: auto;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.75 19.5L8.25 12l7.5-7.5' /%3E%3C/svg%3E");
      background-size: cover;
      transform: rotate(0deg);
      @extend %transition;
    }

    &.active {
      &::before {
        transform: rotate(-90deg);
      }
      @extend %transition;
    }
  }

  &__list {
    padding: 0 rem(28);
    transition: max-height 0.5s ease-in-out; // Use max-height to animate the height of the list
    overflow: hidden;

    &.active {
      max-height: var(--menu-height);
    }
  }

  &__subItem {
    color: map-get($colors, clr-gunmeta-blue);
    width: 100%;
    @include flex(center, $gap: rem(11));
    text-decoration: none;
    height: rem(28);
    margin: rem(18) 0;
    font-size: var(--fs-12);
    padding: rem(17) rem(0) rem(17) rem(15);
    transition: height 2s ease-out;
    &:hover {
      color: var(--clr-bright-blue);
    }

    // &:focus {
    //   padding: rem(5) rem(0) rem(5) rem(10);
    //   border-radius: rem(10);
    //   color: var(--clr-bright-blue);
    //   @extend %fw-500;
    // }
    // &[aria-current="page"] {
    //   color: var(--clr-bright-blue);
    //   background-color: var(--clr-pale-blue);
    //   border-radius: rem(15);
    //   @extend %fw-400;
    //   padding: rem(18) rem(0) rem(18) rem(18);
    //   // border: 2px solid red;
    // }
    &[aria-current="page"] {
      color: var(--clr-bright-blue);
      background-color: var(--clr-pale-blue);
      border-radius: rem(15);
      @extend %fw-400;
      padding: rem(18) rem(0) rem(18) rem(18);
      transition: all 0.3s ease-in-out; // Add a transition property
    }
  }
}
