@use "../../app/import.scss" as *;

.time {
  font-size: 18px;
  margin: rem(25) 0 rem(40) 0;
  @include flex($justify-content: space-between, $align-item: center);
  h4 {
    font-weight: 600;
    line-height: 1.4;
    color: #2b343f;
    margin-left: rem(3);
  }
  &__field {
    @include flex($direction: column, $gap: rem(20));
    margin-left: rem(15);
  }
}
